.card{
    font-family: Roboto;
    font-weight: bold;
    display: inline-block;
    padding: 15px;
    background-color: aqua; 
    border-radius: 15px;
    color: blue;
    transition:0.3s;
}
.c1:hover{
    background-color: brown;
}
.c2:hover{
    opacity: 0.5;
    border-radius: 50%;
}
.c3:hover{
    background-color: chartreuse;
    opacity: 0.7;
    transform: rotate(180deg);
}
.c4:hover{
    background-color: blueviolet;
    border-radius: 36%;
    transform: translate(100px, 50px);
}
.c5:hover{
    background-color: aquamarine;
    opacity: 0.6;
    border-radius: 23%;
    transform: rotate(15deg) translate(10px, 25px);
}
.c6:hover{
    background-color: antiquewhite;
    transform: rotate(35deg) translate(15px, -30px);
}
.c7:hover{
    background-color: indianred;
    transform: translate(0px, 35px);
}
.c8:hover{
    background-color: lightgreen;
    opacity: 0.5;
    border-radius: 23%;
    transform: rotate(100deg) translate(40px, 10px)

}